body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

form {
    margin: 25px;
}

h1 {
    font-size: 30px;
}

button {
    width: 150px;
    margin: 5px;
}